<h2>Dashboard</h2>
<div id="redlineTabs">
    <ul class="nav nav-tabs" id="pagetabs">
        <li><a href="#" data-toggle="tab">In Progress</a></li>
        <li><a href="#pending" data-toggle="tab">Pending</a></li>
        <li class="active"><a href="#closed" data-toggle="tab">Closed</a></li>
    </ul>
    <div>
        <div id="closed"><!-- closed tab content -->
            <p><input ng-model="search" class="form-control input-sm searchbox" type="search" placeholder="Search"></p>
            <p class="text-muted">Click row to view request. Click ID to approve, edit or mark complete. Click heading to sort.</p>
            	<!-- pager -->
				<ul class="pagination">
                	<li ng-class="{disabled: pageNo == 0}"><a ng-click="setActivePage(pageNo-1)">&laquo;</a></li>
        			<li ng-repeat="page in pages" ng-class="{active: page == pageNo}"><a ng-click="setActivePage(page)">{{page+1}}</a></li>
        			<li ng-class="{disabled: pageNo == pages.length - 1}"><a ng-click="setActivePage(pageNo+1)">&raquo;</a></li>
				</ul>
                <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="sort('redlineId')">ID<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('redlineId'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('redlineId')}"></i></th>
                            <th ng-click="sort('plan')">Plan<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('plan'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('plan')}"></i></th>
                            <th ng-click="sort('elevation')">Elevation<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('elevation'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('elevation')}"></i></th>
                            <th ng-click="sort('revisionDate')">Revision Date<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('revisionDate'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('revisionDate')}"></i></th>
                            <th ng-click="sort('userId')">Submitted by<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('userId'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('userId')}"></i></th>
                            <th ng-click="sort('submitDate')">Submit Date<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('submitDate'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('submitDate')}"></i></th>
                            <th class="del_td"><i class="glyphicon glyphicon-minus-sign">&nbsp;</i></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="redline in filteredRedlines = (redlines.content.redlines | filter:{status:3} | filter:search | orderBy:sortField:reverse) | pagination:pageNo:pageSize" ng-click="selectRedline(redline)" ng-switch on="isSelected(redline)" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'">
                        <tr ng-class="getClass(redline)">
                            <td><a class="btn-sm btn-primary" href="#/edit/{{redline.redlineId}}">{{redline.redlineId}}</a></td>
                            <td>{{redline.plan}}</td>
                            <td>{{redline.elevation}}</td>
                            <td size="10">{{redline.revisionDate}}</td>
                            <td>{{redline.userId}}</td>
                            <td>{{redline.submitDate}}</td>
                            <td class="del_td"><button type="button" class="close" aria-hidden="true" ng-click="deleteRedline(redline)">&times;</button></td>
                        </tr>
                        <tr ng-switch-when="true">
                        	<td class="danger" colspan="6">{{redline.request}}</td>
                            <td class="del_td"><i class="glyphicon glyphicon-print"></i></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            	<!-- pager -->
				<ul class="pagination">
                	<li ng-class="{disabled: pageNo == 0}"><a ng-click="setActivePage(pageNo-1)">&laquo;</a></li>
        			<li ng-repeat="page in pages" ng-class="{active: page == pageNo}"><a ng-click="setActivePage(page)">{{page+1}}</a></li>
        			<li ng-class="{disabled: pageNo == pages.length - 1}"><a ng-click="setActivePage(pageNo+1)">&raquo;</a></li>
				</ul>
                <p><button type="button" class="btn btn-default">Total: <span class="badge">{{filteredRedlines.length}}</span></button></p>
            </div>
        </div><!-- /closed tab content -->
    </div>
<!-- /#redlineTabs -->
