<div id="redlineTabs">
    <ul class="nav nav-tabs" id="pagetabs">
        <li><a href="#" data-toggle="tab">In Progress</a></li>
        <li><a href="#pending" data-toggle="tab">Pending</a></li>
        <li class="active"><a href="#closed" data-toggle="tab">Closed</a></li>
    </ul>
    <div>
        <div id="closed"><!-- closed tab content -->
            <h2>Closed</h2>
            <p class="text-muted">Click row to view request. Click ID to approve, edit or mark complete.</p>
            <div class="table-responsive">
            <input ng-model="search" class="form-control input-sm" type="search" placeholder="Search">
            	<!-- pager -->
                <ul class="pagination pagination-sm">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
                <table id="tbl-inProgress" class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="sort('redlineId')">ID</th>
                            <th ng-click="sort('plan')">Plan</th>
                            <th ng-click="sort('elevation')">Elevation</th>
                            <th ng-click="sort('revisionDate')">Revision Date</th>
                            <th ng-click="sort('userId')">Submitted by</th>
                            <th ng-click="sort('submitDate')">Submit Date</th>
                            <th class="del_td"><i class="glyphicon glyphicon-minus-sign">&nbsp;</i></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="redline in filteredRedlines = (redlines.content.redlines | filter:{status:3} | filter:search | orderBy:sortField:reverse) | limitTo:10" ng-click="selectRedline(redline)" ng-switch on="isSelected(redline)" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'">
                        <tr ng-class="getClass(redline)">
                            <td><a class="btn-sm btn-primary" href="#">{{redline.redlineId}}</a></td>
                            <td>{{redline.plan}}</td>
                            <td>{{redline.elevation}}</td>
                            <td size="10">{{redline.revisionDate}}</td>
                            <td>{{redline.userId}}</td>
                            <td>{{redline.submitDate}}</td>
                            <td class="del_td"><button type="button" class="close" aria-hidden="true" ng-click="deleteRedline(redline)">&times;</button></td>
                        </tr>
                        <tr ng-switch-when="true">
                        	<td class="danger" colspan="7"><strong>Request: {{redline.request}}</strong></td>
                        </tr>
                    </tbody>
                </table>
                <!-- pager -->
            	<ul class="pagination pagination-sm">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
            	</ul>
                <p>Total Number of Filtered Records: {{filteredRedlines.length}}</p>
            	<p>Grand Total Records (unfiltered): {{redlines.content.redlines.length}}</p>
            </div>
        </div><!-- /closed tab content -->
    </div>
</div><!-- /#redlineTabs -->
