            <!-- request form -->
            <div class="tab-pane" id="requestform">
            <h2>New Redline Request</h2>
    		<h3>Plan #{{currentRedline.content.plan}}</h3>
    		<h4 ng-show="currentRedline.content.revisionDate">Revision {{currentRedline.content.revisionDate}}</h4>
    		<p class="text-muted">Submitted by: {{currentRedline.content.userId}}</p>
            <form role="form" name="redlineForm" id="redlineForm" novalidate>
    			<div class="panel panel-default">
    				<div class="panel-heading">
        				<h5 class="panel-title">Redline details</h5>
        			</div>
                    <div class="panel-body">
                    	<div class="row">
            				<div class="col-md-4">
            					<div class="form-group" ng-class="getCssClasses(redlineForm.elevation)">
                                    <label for="elevation">Elevation</label>
                                    <input id="elevation" name="elevation" type="text" class="form-control" ng-model="currentRedline.content.elevation" ng-minlength="1" ng-maxlength="10" required>
                                    <span class="text-danger" ng-show="showError(redlineForm.elevation, 'required')">
                                    	<p><strong>Elevation is required!</strong></p>
                                    </span>
                				</div>
            				</div>
                        	<div class="col-md-4">
                                <div class="form-group">
                                    <label for="plat">Plat</label>
                                    <input id="plat" name="plat" type="text" class="form-control" ng-model="currentRedline.content.plat" ng-minlength="1" ng-maxlength="10" required>
                                    <span class="text-danger" ng-show="showError(redlineForm.plat, 'required')">
                                    	<p><strong>Plat is required!</strong></p>
                                    </span>
                                </div>
                        	</div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="lot">Lot #</label>
                                    <input id="lot" name="lot" type="text" class="form-control" ng-model="currentRedline.content.lot" ng-minlength="1" ng-maxlength="10" required>
                                    <span class="text-danger" ng-show="showError(redlineForm.lot, 'required')">
                                    	<p><strong>Lot is required!</strong></p>
                                    </span>
                                </div>
                            </div>
                        </div>
        			<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="redlinedesc">Description of correction</label>
                                <textarea id="redlinedesc" name="redlinedesc" ng-model="currentRedline.content.request" class="form-control text-input" rows="5" ng-minlength="1" required></textarea>
                                <span class="text-danger" ng-show="showError(redlineForm.redlinedesc, 'required')">
                                    	<p><strong>Request is required!</strong></p>
                                </span>
                                <span class="help-block">Please describe changes in detail.</span>
                            </div>
                        </div>
                        <div class="visible-xs visible-sm">
                            <p class="col-md-3 text-info">This device is not able to upload photos.</p>
                        </div>
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <div class="form-group">
                                <label for="lefile">Upload image</label>
                                <input id="lefile" name="lefile" type="file">
                                <div class="input-append">
                                    <input id="photoCover" name="photoCover" class="form-control" type="text">
                                    <a class="btn btn-primary" onclick="$('input[id=lefile]').click();">Browse</a>
                                    <button type="button" class="btn btn-md btn-primary" disabled="disabled">Upload</button>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-3">
                            <div class="form-group">

                                <label>Files on server</label>
                                		<ul class="list-group">
                                			<li class="list-group-item" ng-repeat="file in currentRedline.content.files">
                                        		<a ng-href="/redline/media/images/uploads/{{file}}" target="_blank">{{file}}</a>
                                            	<button type="button" class="close" aria-hidden="true">&times;</button>
                                        	</li>
                                		</ul>
                                    	<p ng-hide="currentRedline.content.files" class="text-info">No files on server</p><!-- upload files -->
                                </div>
                            </div>
                        </div>
            		</div><!-- /row -->
                </div><!-- /panel-container -->
            </div><!-- /panel -->

                <!-- begin admin section -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Administrators</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Department approval required</h4>
                                <div class="checkbox">
                                    <label>
                                        <input name="costEstReq" type="checkbox" ng-model="currentRedline.content.costEstReq"> Cost estimate required
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="designApprReq" type="checkbox" ng-model="currentRedline.content.designApprReq"> Design approval required
                                    </label>
                                </div>    
                            </div>
                        </div>
                    </div><!-- /panel-body -->
                </div><!-- /panel-container -->
                <!-- end admin section -->
                <div class="row">
                    <div class="col-md-12">
                        <button ng-disabled="!canSave()" type="button" class="btn btn-primary btn-block">Save</button>
                    </div>
                </div>
            </form>
                
            <!-- /tab content -->
