<!-- delete modal -->
        <div class="modal fade" id="delViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    	<h4 class="modal-title">Delete redline?</h4>
                    </div>
                    <div class="modal-body">
                    <h5 class="text-danger">Are you sure you would like to delete this redline?</h5>
                    <p><strong>Plan:</strong> 432432</p>
                    <p><strong>Submitted by:</strong> Loggedin User</p>
                    <p><strong>Request:</strong> Quisque id consectetur turpis, ac fermentum ipsum. Nunc aliquet ligula id nunc molestie facilisis. Nam sit amet eros quis leo congue tincidunt vel quis dolor. Nullam tristique sollicitudin dolor consectetur pharetra. Fusce quis tempor nisl. Ut rutrum lacus metus, eu imperdiet neque hendrerit vitae. Maecenas nec lacinia est, at rutrum enim.</p>
                    </div>
                    <div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        				<button type="button" class="btn btn-danger">Delete</button>
      				</div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /delete modal -->
