<div id="redlineTabs">
    <ul class="nav nav-tabs" id="pagetabs">
        <li class="active"><a href="#" data-toggle="tab">In Progress</a></li>
        <li><a href="#pending" data-toggle="tab">Pending</a></li>
        <li><a href="#closed" data-toggle="tab">Closed</a></li>
    </ul>
    <div>
        <div id="inprogress"><!-- in progress tab content -->
            <h2>In-progress</h2>
            <p class="text-muted">Click ID to approve, edit or mark complete.</p>
            <div class="table-responsive">
            <input ng-model="search" class="form-control input-sm" type="search" placeholder="Search">
                <!-- pager -->
                <ul class="pagination pagination-sm">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
                <table id="tbl-inProgress" class="table table-striped table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Plan</th>
                            <th>Elevation</th>
                            <th>Revision Date</th>
                            <th>Request</th>
                            <th>Submitted by</th>
                            <th>Submit Date</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="expandable">
                        <tr ng-repeat="redline in redlines.content.redlines | filter:search">
                            <td><a class="btn-sm btn-primary" href="#">{{redline.redlineId}}</a></td>
                            <td>{{redline.plan}}</td>
                            <td>{{redline.elevation}}</td>
                            <td size="10">{{redline.revisionDate}}</td>
                            <td>{{redline.request}}</td>
                            <td>{{redline.userId}}</td>
                            <td size="10">{{redline.submitDate}}</td>
                            <td class="del_td"><button type="button" class="close" aria-hidden="true" ng-click="deleteRedline(redline)">&times;</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- pager -->
            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div><!-- /in progress tab content -->
    </div>
</div><!-- /#redlineTabs -->