<!-- begin page content -->
            <h1>New Redline</h1>
            <p class="text-muted">(1) Search for a plan, (2) select from results and (3) enter your request</p>
            <!-- tabs -->
            <ul class="nav nav-pills" id="wizardTabs">
            	<li class="active"><a href="#search" data-toggle="tab" class="gotoSearch">Search</a></li>
                <li class="disabled"><a href="#" data-toggle="tab">Request Form</a></li>
            </ul>
            
            <!-- tab content -->
            <div class="tab-content">
            	<!-- search -->
            	<div class="tab-pane active" id="search">
                <h3>Search</h3>
                	<p><form class="form-inline" role="form" id="planSearch">
                    	<div class="form-group">
                        	<label class="sr-only" for="inputPlan">Plan</label>
                            <input type="text" class="form-control input-lg validate[required] typeahead-plans" id="inputPlan" placeholder="Plan #/name">
                        </div>
                        <div class="form-group">
                        	<label class="sr-only" for="inputRevisionDate">Revision date</label>
                            <input type="text" class="form-control input-lg" id="inputRevisionDate" placeholder="Revision date (optional)" readonly>
                        </div>
                    </form>
                    <div id="search_results">
                    	<h3>Results</h3>
                    	<p>Select plan from search results to add request</p>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tblResults">
                                <thead>
                                    <tr>
                                        <th>Plan #</th>
                                        <th>Revision Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#" class="gotoForm">3-40.02</a></td>
                                        <td>N/A</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="gotoForm">3-40.02</a></td>
                                        <td>8-15-2013</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="gotoForm">3-40.02</a></td>
                                        <td>9-12-2013</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="gotoForm">3-40.02</a></td>
                                        <td>9-15-2013</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                

            
        <!-- /container -->
