<!-- begin page content -->
            <h2>New Redline Request</h2>
            <p class="text-muted">(1) Search for a plan, (2) select from results and (3) enter your request</p>
            <!-- tabs -->
            <p>
                <ul class="nav nav-pills" id="wizardTabs">
                    <li class="active"><a href="#search" data-toggle="tab" class="gotoSearch">Search</a></li>
                    <li class="disabled"><a href="#" data-toggle="tab">Request Form</a></li>
                </ul>
            </p>
            
            <!-- tab content -->
            <div class="tab-content">
            	<!-- search -->
            	<div class="tab-pane active" id="search">
                	<div class="well well-lg">
                    	<h3>Search</h3>
                        <form class="form-inline" role="form" id="planSearch">
                            <div class="form-group">
                                <label class="sr-only" for="inputPlan">Plan</label>
                                <input ng-model="plansearch" type="text" class="form-control input-lg typeahead-plans" id="inputPlan" placeholder="Plan #">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="inputRevisionDate">Revision date</label>
                                <input ng-model="planrevision" type="text" class="form-control input-lg" placeholder="Revision date">
                            </div>
                        </form>
                    </div>
                    <div id="searchresults" class="content">
                        <!-- pager -->
                        <ul class="pagination pagination-sm">
                            <li ng-class="{disabled: pageNo == 0}"><a ng-click="setActivePage(pageNo-1)">&laquo;</a></li>
                            <li ng-repeat="page in pages" ng-class="{active: page == pageNo}"><a ng-click="setActivePage(page)">{{page+1}}</a></li>
                            <li ng-class="{disabled: pageNo == pages.length - 1}"><a ng-click="setActivePage(pageNo+1)">&raquo;</a></li>
                        </ul>
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th ng-click="sort('planName')">Plan #<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('planName'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('planName')}"></i></th>
                                        <th ng-click="sort('revision')">Revision Date<i ng-class="{'glyphicon glyphicon-chevron-up pull-right':isSortUp('revision'), 'glyphicon glyphicon-chevron-down pull-right':isSortDown('revision')}"></i></th>
                                        <th class="del_td"><i class="glyphicon glyphicon-check">&nbsp;</i></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="plan in filteredPlans = (plans.content.plans | filter:{planName:plansearch} | filter:{revision:planrevision} | orderBy:sortField:reverse) | pagination:pageNo:pageSize" ng-class-even="'light-gray'" ng-class-odd="'dark-gray'">
                                    <tr>
                                        <td>{{plan.planName}}</td>
                                        <td>{{plan.revision}}</td>
                                        <td class="del_td"><input type="checkbox"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /table-responsive -->
                        <!-- pager -->
                        <ul class="pagination pagination-sm">
                            <li ng-class="{disabled: pageNo == 0}"><a ng-click="setActivePage(pageNo-1)">&laquo;</a></li>
                            <li ng-repeat="page in pages" ng-class="{active: page == pageNo}"><a ng-click="setActivePage(page)">{{page+1}}</a></li>
                            <li ng-class="{disabled: pageNo == pages.length - 1}"><a ng-click="setActivePage(pageNo+1)">&raquo;</a></li>
                        </ul>
                        <p><button type="button" class="btn btn-default">Total: <span class="badge">{{filteredPlans.length}}</span></button></p>
                    </div><!-- /searchresults -->
                </div>

        <!-- /container -->
