@charset "utf-8";

/* main site styles */
html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	height: 100%;
	color: #000;
}

#topstrip {
	height: 10px;
	background-color: #000;
}
#logo {
	height: 80px;
	background-color: #46545f;
	background-image:url(../logo.jpg);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
#pagefooter {
	display:block;
	margin: 1em auto 1em auto;
	text-align:center;
}
#reason_window {
	display:none;
}
#btnSearch {
	margin-bottom:0;
}
#search_results {
	display:none;
}

/* top nav styles */
.navbar-default {
	background-color: #46545f;
	border-color: #46545f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #46545f;
}
.navbar-default .navbar-brand {
    color: #d0cbc5;
}
.navbar-default .navbar-nav > li > a {
    color: #d0cbc5;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-header > .navbar-brand:hover {
	color: #fff;
}

/* pretty input=file */
#photoCover {
	margin-bottom: 1em;
}
#lefile {
	display: none;
}

/* popover  */
.popover-title {
	font-size: .6em;
	font-weight: bold;
}
.popover-content {
	font-size: .6em;
	font-weight:normal;
	line-height: 1.2em;
}

/* bootstrap replacements */
.btn {
	margin-bottom: .5em;
}

