@charset "utf-8";

/* main site styles */
html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	height: 100%;
	color: #000;
}

#topstrip {
	height: 10px;
	background-color: #000;
}
#logo {
	height: 80px;
	background-color: #46545f;
	background-image:url(../logo.jpg);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
#pagefooter {
	display:block;
	margin: 1em auto 1em auto;
	text-align:center;
}
#reason_window {
	display:none;
}
#btnSearch {
	margin-bottom:0;
}
#searchresults {
	margin-top:2em;
}
#tblResults a{
	display:block;
}
.del_td {
	text-align:center;
	width:1em;
}
.searchbox {
	margin-top:2em;
}
td > button.close {
	float:none;
	font-size: 1.2em;
	padding: .2em;
}

/* top nav styles */
.navbar-default {
	background-color: #46545f;
	border-color: #46545f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #46545f;
}
.navbar-default .navbar-brand {
    color: #d0cbc5;
}
.navbar-default .navbar-nav > li > a {
    color: #d0cbc5;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-header {
	background-image:url(../images/headerlogo.png);
	background-repeat:no-repeat;
}
.navbar-brand {
	width: 175px;
	height: 50px;
}
.navbar-header > .navbar-brand:hover {
	color: #fff;
}

/* pretty input=file */
#photoCover {
	margin-bottom: 1em;
}
#lefile {
	display: none;
}

/* popover  */
.popover-title {
	font-size: .6em;
	font-weight: bold;
}
.popover-content {
	font-size: .6em;
	font-weight:normal;
	line-height: 1.2em;
}

/* bootstrap replacements */
.btn {
	margin-bottom: .5em;
}

/* angular table row zebra classes */
.light-gray {
	background-color: #eaeaea;
}
.dark-gray {
	background-color: #f6f6f6;
}
.glyphicon-minus-sign {
	margin-left:auto;
	margin-right:auto;
}
.icon-chevron-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}
.icon-chevron-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}
/* angular classes */
.ng-pristine { /* form element has not been touched */
	
}
.ng-dirty { /* form element has been touched */
	border: solid black 1px;
}
.ng-valid.ng-dirty { /* form element has been touched and is valid */
	border: solid green 1px; 
} 
.ng-invalid.ng-dirty { /* form element has been touched and is not valid */
	border: solid red 3px;
}